*{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(#080809, #262626);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.cabecalho{
    background-color: #080809;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-img{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.org-imagem{
    width: 25%;
}

.org{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.org-div-conteudo{
    width: 35%;
}

.org-titulo{
    padding: 24px 0;
}

.time {
    color: white;
}

.time-imagem{
    width: 150px;
    height: 140px;
    border-radius: 10%;
}

.time-icone{
    float: left;
    width: 24px
    margin: 0 10px 10px 0;
}

.time-div{
    text-align: center;
}

.time-titulo{
    text-align: center;
    padding: 50px 0;
}

.time-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}